<!--<div class="blog-contain" id="blog">
  <div class="blog-entry">
    <div class="blog-title">Tech @ NYU: Tech Week</div>
    <div class="blog-date">April 19th, 2019</div>
    <div class="blog-content">
      Last week, Tech @ NYU organized a series of events called Tech Week. We
      had a series of events ranging from the Ethics of A.I. to a discussion of
      Incubators vs. Accelerators. I organized and marketed an Office Tour of
      StackOverflow, as well as a Q&A with a software engineer on the team. This
      event completely filled up, and it ended up being informative and a great
      time!
    </div>
    <img class="blog-image" src="#" />
  </div>
  <div class = "blog-entry">
        <div class = "blog-title"></div>
        <div class = blog-content></div>
        <img class = "blog-image" src="#">
    </div>-->
</div>
