<section class="bg-primary" id="about" style = "background-color:cadetblue; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
<div class="container-fluid">
    <div style = "position: relative; top: -100px;" class="row example-centered">
        <div class="col-md-12 example-title">
            <h2>Background</h2>
            <h3><a href = "../img/Brad Davis Resume.pdf" target="_blank">Click to See my Current Resume</a></h3>
        </div>
        <div style = "margin-top: -10px;" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline timeline-centered">
                <li class="timeline-item period">
                    <div class="timeline-content">
                        <h2 class="timeline-title">College: 2016 - 2020</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>June, 2019 - Present</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title" style = "line-height: 25px;">Web Developer: Author and Speaker Bruce Feiler</h3>
                        <p>
                            Creating web content for New York Times Best Selling Author and Ted Talk Speaker Bruce Feiler. For his <a href = "http://www.brucefeiler.com/" target="_blank">website,</a> I have been
                            developing various forms of content for his upcoming novel such as an online interview with dynamic results and data visualizations based on the data of the novel. 
                            While we are still waiting to start advertising, I will give updates when we start the rollout! Very Exciting!
                        </p>
                    </div>
            </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>March, 2019 - Present</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title" style = "line-height: 25px;">Backend Data Management: 3quilibrium</h3>
                        <p>
                            Helping design and scrape the database for a music website called <a href = "https://www.3quilibrium.com/" target="_blank">3quilibrium.</a> For this project, our
                            goal is to create a centralized database with upadated information about a large group of up and coming musicians with long term goal of creating a data driven
                            label, finding artists based on the numbers behind that support their long-term success. 
                        </p>
                    </div>
            </li>
                <li class="timeline-item">
                        <div class="timeline-info">
                            <span>Febuary, 2019 - Present</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title" style = "line-height: 25px;">Event Organizer: <br>Tech @ NYU</h3>
                            <p>
                                As an Event Organizer for <a href="https://techatnyu.org/#/about"  target="_blank">Tech @ NYU,</a> I plan events for students, inviting speakers, organizing event space, and managing budget for 'afterhours events'
                                as we call them.
                                I work with as the head of a small group soley responsible for this part of the club. In the past, I have helped organized a series of 5 successive events which we are 
                                calling Tech Week. Currenlty, I am planning a Art Tech Fest which will include students work from all over NYU who bridge their artist expression and tech interest. SUPER EXCITED!
                            </p>
                        </div>
                </li>
                <li class="timeline-item">
                        <div class="timeline-info">
                            <span>January, 2019 - Present</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title" style = "line-height: 25px;">Grader: Intro to Web Design</h3>
                            <p>
                                    In this position I grade students' work in an HTML and CSS focused website development course.
                                    I have been working closely with professor, <a href = "http://leesean.net/" target="_blank">Lee-Sean Huang</a> 
                                    making sure to meet strict deadlines, and keep up with the class to have a deep understanding of the topics covered.
                            </p>
                        </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>January, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title" style = "line-height: 25px;">Created Company Website: Prottas Painting</h3>
                        <p>
                            Created a website for a local house painter in my hometown. It can be seen here: <a href = "http://prottaspainting.net/" target="_blank">Prottas Painting</a>
                            Personally my favorite part of this site is the parallax slideshow on the front page. Glenn Prottas, owner of Prottas Painting was very pleased with the outcome, and has
                            been using his new site to market his buisness.
                        </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>December, 2018 - Present</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title" style = "line-height: 25px;">Co-Founder and Full Stack Developer: LikeRing</h3>
                        <p>
                            For the past couple of months, I have been working with friend and fellow co-founder Yoon Jung Kim on planning and creating a website which is striving to
                            create a platform for local business to host events and workshops in a social media-esque setting. We are still early in the development process, but we plan
                            to have an early iteration of the site up by late spring. I have focused on learning what the full stack development process is like, dedicating my time to 
                            learning backend setup using react.js and firebase for database management.
                        </p>
                    </div>
                </li>
                <li class="timeline-item">
                        <div class="timeline-info">
                            <span>November, 2018 - Present</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title" style = "line-height: 25px;">Communications Chair: <br> ACM @ NYU</h3>
                            <p>
                                The Association of Computing Machinary, or ACM for short, is a computer science focused club where we have events every other week surrounding
                                various tech focused topics in a workshop format or with a guest speaker. I was an active member of the group for about a year before running for
                                communications chair where I advertise for upcoming events, and help plan out logistics and find guest speakers.
                            </p>
                        </div>
                </li>
                <li class="timeline-item">
                        <div class="timeline-info">
                            <span>March, 2017 - Present</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title" style = "line-height: 25px;">Committee Chair: NYU Circle K International</h3>
                            <p>Circle K International is the largest student-run community service organization partially funded by Kiwanis International. 
                                My role in this Organization is organizing service events for NYU club members every other week, where we meet to
                                discuss upcoming service events, and do a small project. I am also an active member of the group and help organize and participate
                                in service events around the city.
                            </p>
                        </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>September, 2017 - May, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title" style = "line-height: 25px;">Softmore Cohort President: NYU</h3>
                        <p>
                            Elected by peers to plan, coordinate, and market events for a group of about 60 students. This program also included attending bimonthly leadership workshops to improve skills including public speaking,
                            networking, and group collaboration. This was a great way to improve my leadership skills and work on organizing and marketing events.
                        </p>
                    </div>
                </li>
                <li class="timeline-item">
                        <div class="timeline-info">
                            <span>June, 2017 - August, 2017</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title" style = "line-height: 25px;">Programmer: Brigham and Woman's Hospital</h3>
                            <p>Spent my freshman year summer working right next to Fenway Park on an open source extension to a medical imaging software Slicer. The extension is called
                                <a href = "http://dmri.slicer.org/" target="_blank">SlicerDMRI</a>, and I spent the majority of my time working with the head programmer on helping create and streamline tutorials,
                                perform various performance analysies, and learn how to work on this extension. I also dedicated some of my time to creating a video introduction to the extension which can 
                                be found here: <a href = "https://www.youtube.com/watch?v=Ml4oS5n2I64" target="_blank">Intro to SlicerDMRI</a>
                            </p>
                        </div>
                </li>
              
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>November, 2017</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title" style = "line-height: 25px;">Writting Published: <i>Outside The Ring: Humanity in Tragedy</i></h3>
                        <p>This is an essay I wrote that was published in the <i>Alternative Considerations
                        of Jonestown & Peoples Temple</i> News Letter. After writting this paper, which is a reflection
                        on a paper by Jonestown Survivor Tim Carter, my professor reached out to him, and we were able to briefly talk over email.
                        Pretty amazing moment for me, and shout out to my professor, now working an english professor at Duke University, <a href = "https://english.duke.edu/people/taylor-h-black" target="_blank">Taylor Black</a>, who has inspired me to this day to see value in my own words and ideas. 
                        The work can be found here: <a href = "https://jonestown.sdsu.edu/?page_id=70864" target="_blank">Outside The Ring: Humanity in Tragedy</a>    
                        </p>
                    </div>
            </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title" style = "line-height: 30px;">High School: 2012 - 2016</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>June, 2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title"style = "line-height: 25px;">Graduated from Newton North High School</h3>
                        <p>Graduated from high school in my hometown of Newton, Massachussetts.
                            During my time I found interest in Computer Science, Music Technology,
                            and Ultimate Frisbee. I also became deeply interested in Chemistry, joining 
                            the science team, and entered New York University planning to major in this topic.
                        </p>
                    </div>
                </li>
                <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2015</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title" style = "line-height: 25px;">Drift Back: Album Released</h3>
                            <p>An album of self-produced instrumental songs. Pretty amatuerish looking back,
                                but I was very proud of it at the time. It can be found here:<br> <a href = "https://soundcloud.com/brad-davis-39/sets/drift-back" target="_blank">Drift Back</a> 
                            </p>
                        </div>
                    </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>2014-2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title"style = "line-height: 25px;">High School Jobs</h3>
                        <p>Worked as a busboy in a local cafe for the better part of a year, and later started
                           working in a small movie theater in concessions. 
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</section>
